*User Created*

*CN*: {{ cn }}
*CA*: {{ ca }}
*Expire Date*: {{ expire_date }}

*Download OpenVPN client here*:
*Android*
https://play.google.com/store/apps/details?id=net.openvpn.openvpn
*iOS*
https://apps.apple.com/us/app/openvpn-connect/id590379981
*Windows*
https://openvpn.net/downloads/openvpn-connect-v3-windows.msi
*MacOS*
https://openvpn.net/downloads/openvpn-connect-v3-macos.dmg
